<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright © 2013-2016 Modelsolv, Inc.
 All Rights Reserved.
 
 NOTICE: All information contained herein is, and remains the property
 of ModelSolv, Inc. See the file license.html in the root directory of
 this project for further information.
-->

<plugin>
    <extension point="org.eclipse.emf.ecore.generated_package">
        <package class="com.reprezen.rapidml.RapidmlPackage" 
        	genModel="src/main/resources/model/RapidML.genmodel" 
        	uri="http://www.modelsolv.com/reprezen/rapidml/1.0"/>
    </extension>    
</plugin>